{% extends 'campgrounds/campground_base.html' %}

{% block pre_camp %}
	<div class="col-md-12 text-center">
		<h1 class="camp-title">{{campground.name}}</h1>
		<h5>{{campground.short_description}}</h5>
		{% if campground.price_per_night %}
			{% if campground.price_per_night == 0.00 %}
				<h5>Free</h5>
			{% else %}
			<h5>${{campground.price_per_night}}/night</h5>
			{% endif %}
		{% endif %}
		<h6 class="text-center">Submitted by user: {{campground.author}} </h4>
		{% if campground.author == user %}
			<div class="col-md-5"></div>
			<div class="col-md-2 text-center">
				<a href="{% url 'campgrounds:update' pk=campground.pk %}" class="btn btn-warning">Edit</a>
				<a href="{% url 'campgrounds:delete' pk=campground.pk %}" class="btn btn-danger">Delete</a>
			</div>
		{% endif %}
	</div>
{% endblock %}

{% block camp %}
	<div class="col-md-12">
		<img src="{{campground.image}}" alt="" class="img-responsive" style="max-height: 85vh;">
	</div>
{% endblock %}

