{% extends 'campgrounds/campground_base.html' %}


{% block camp %}
	<div class="col-md-12">
		<h1 class="text-center camp-title">{{campground.name}}</h1>
		<h6 class="text-center">Submitted by user: {{campground.author}} </h4>
	</div>
	<div class="col-md-2"></div>
	<div class="col-md-8">
		<div class="well">
			<img src="{{campground.image}}" alt="" class="img-responsive">
			<div class="container">
				<h3><strong>About this campsite</strong></h3>
				<p>{{campground.description}}</p>
			</div>
		</div>
	</div>


{% endblock %}
