{% extends 'campgrounds/campground_base.html' %}


{% block camp %}
	<div class="col-md-12">
		<h1 class="text-center camp-title">{{campground.name}}</h1>
		<h6 class="text-center">Submitted by user: {{campground.author}} </h4>
	</div>

	<div class="col-md-4">
		<table class="table table-striped text-center camp-info">
			<tr>
				<td>Location</td>
				<td>Hello</td>
			</tr>
			<tr>
				<td>Backcountry?</td>
				<td>Hello</td>
			</tr>
			<tr>
				<td>Trail Difficulty</td>
				<td>Hello</td>
			</tr>
			<tr>
				<td>Price</td>
				<td>Hello</td>
			</tr>
			<tr>
				<td>Average Review</td>
				<td>Hello</td>
			</tr>
		</table>
	</div>

	<div class="col-md-8">
		<img src="{{campground.image}}" alt="">
	</div>



{% endblock %}
