{% extends 'campgrounds/campground_base.html' %}

{% block pre_camp %}

{% endblock %}

{% block camp %}
	<div class="container">
		<h1 class="text-center">Explore all our campgrounds</h1>
		<div class="flex-row">
			<div class="list-group">
				{% for campground in object_list %}
					<div class="col-md-4 col-sm-6">
						<div class="thumbnail gallery text-center">
							<img style="max-height:180px" class="thumbnail-img list-image img-responsive" src="{{campground.image}}"></img>
							<div class="caption">
								<strong>{{campground.name}}</strong>
								<p>{{campground.city}}, {{campground.province}}</p>
							</div>
						<p><a href="{% url 'campgrounds:details' pk=campground.pk %}" class="btn btn-primary">More Info</a></p>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
	</div>
{% endblock %}